
header, footer {
    background-color: mediumturquoise;
    color: white;
}

nav {
    background-color: mediumspringgreen;
    color: white;
}

main, footer{
    display: flex;
    justify-content:center;
    align-items: center;
}

header, nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem 3rem;
}

li{
    display: inline;
    list-style: none;
    margin: 0.2rem;
}

img{
    width: 30px;
}


td:last-child{
    display:grid;
    grid-template-columns: 1fr;
}

table {
    border: 1px solid #000;
    margin: 5px;
}

th, td {
    width: 150px;
    vertical-align: middle;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    text-align: center;
}


th {
    background: #eee;
}

label{
    width:300px;
}